        :root{
           background-color: rgb(255, 255, 255);
           max-width: 1480px;
           position: absolute;
           width: 50%;
           margin-left: 10%;
           margin-right: 25%;

        }
        ::selection{
            background-color: #4bc9ff93;
        }
        ul{
            list-style-type: none;
        }
        ul>li>a.fp{
            text-decoration: none;
        }
        ul>li>a.ra{
            text-decoration: none;
        }
        ul>li>a.fls{
            text-decoration: none;
        }
        ul>li>a.nfa{
            text-decoration: none;
        }
        div>a.raleft{
            text-decoration: none;
            color: #485863;
        }
        div>a.wrleft{
            text-decoration: none;
            color: #485863;
        }
        div>a.wdleft{
            text-decoration: none;
            color: #485863;
        }
        div>a.ileft{
            text-decoration: none;
            color: #485863;
        }
        div>a.phleft{
            text-decoration: none;
            color: #485863;
        }

            /* Хедер */


     /* Буквенный Логотип */

     .let-logo>a{
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 80px;
         color: #4BCAFF;
         position: absolute;
         left: 101px;
         top: 40px;
         text-decoration: none;
     }
     .let-logo>a>span{
         color: black;
     }

     /* Верхнее меню (фон) */
        .top-menu_background{
            position: absolute;
            width: 1283px;
            height: 72px;
            background-color: rgba(53, 68, 79, 1);
            top: 178px;
            left: 98px;
            z-index: 1;
        }
        
     /* Фон (при наведении курсора для каждого элемента хедера) */
     .fphover{
        width: 492px;
        height: 72px;
        background-color: rgba(53, 68, 79, 1) ;
        left: 98px;
        top: 178px;
        position: absolute;
        z-index: 2;
     }
        .fphover:hover{
        background-color: rgba(34, 47, 58, 1);
        border-right: #818181 1px solid;
     }
     .rahover{
         width: 153px;
         height: 72px;
         background-color: rgba(53, 68, 79, 1);
         left: 591px;
         top: 178px;
         position: absolute;
         z-index: 3;
     }
     .rahover:hover{
         background-color: rgba(34, 47, 58, 1);
         border-left: #818181 1px solid;
         border-right: #818181 1px solid;
     }
     .flshover{
         width: 250px;
         height: 72px;
         background-color: rgba(53, 68, 79, 1); 
         left: 746px;
         top: 178px;
         position: absolute;
         z-index: 5;
     }
     .flshover:hover{
         background-color: rgba(34, 47, 58, 1);
         border-left: #818181 1px solid;
         border-right: #818181 1px solid;
     }
     .nfahover{
         width: 387px;
         height: 72px;
         background-color: rgba(53, 68, 79, 1);
         left: 997px;
         top: 178px;
         position: absolute;
         z-index: 4;
     }
     .nfahover:hover{
        background-color: rgba(34, 47, 58, 1);
        border-left: #818181 1px solid;
     }

         /* Верхнее меню (текст) */
    .fp{
        position: absolute;
        left: 180px;
        top: 20px;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 6;
        color: white;
        text-align: left;
        white-space: pre;
        cursor: default;
    }
    .ra{
        position: absolute;
        left: 42.5px;
        top: 20px;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 8;
        color: white;
        text-align: left;
        white-space: pre;
        cursor: default;
    }

    .fls{
        position: absolute;
        left: 30px;
        top: 20px;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 9;
        color: white;
        text-align: left;
        white-space: pre;
        cursor: default;
    }
    .nfa{
        position: absolute;
        left: 50px;
        top: 20px;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 8;
        color: white;
        text-align: left;
        white-space: pre;
        cursor: default;
    }



             /* Левое Меню */

    /* Рамка  */
    .leftmenuborder{
        width: 344px;
        height: 399px;
        position: absolute;
        top: 300px;
        left: 100px;
        border: #35444F 1px solid;
    }
     /*Фон, для элементов левого меню */
     .ralefon{
        position: absolute;
        width: 344px;
        height: 81px;
        left: 101px;
        top: 301px;
     }
     .ralefon:hover{
        background-color: #DBDBDB;
     }
     .wrlefon{
         position: absolute;
         width: 344px;
         height: 81px;
         left: 101px;
         top: 378px;
     }
     .wrlefon:hover{
         background-color: #DBDBDB;
     }
     .wdlefon{
        position: absolute;
        width: 344px;
        height: 81px;
        left: 101px;
        top: 459px;
     }
     .wdlefon:hover{
         background-color: #DBDBDB;
     }
     .ilefon{
        position: absolute;
        width: 344px;
        height: 81px;
        left: 101px;
        top: 540px;
     }
     .ilefon:hover{
         background-color: #DBDBDB;
     }
     .plefon{
        position: absolute;
        width: 344px;
        height: 81px;
        left: 101px;
        top: 619px;
     }
     .plefon:hover{
        background-color: #DBDBDB;
     }
     


         /* Левое меню (текст) + поведение при наведении */
     /* Ramda */
     .ralef{
         text-decoration: none;
         position: absolute;
         font-size: 30px;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         color: #495863;
         padding-left: 44px;
         padding-top: 20px;
     }
     .ralef:hover{
         padding-left: 69px;
         color: black;
     }
     
     /* Why Ramda? */
     .wrlef{
        text-decoration: none;
        position: absolute;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #495863;
        padding-left: 44px;
        padding-top: 20px;
     }
     .wrlef:hover{
        padding-left: 69px;
        color: black;
     }
     
     /* What's Different? */
     .wdlef{
        text-decoration: none;
        position: absolute;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #495863;
        padding-left: 44px;
        padding-top: 20px;
     }
     .wdlef:hover{
        padding-left: 69px;
        color: black;
     }

     /* Introductions */
     .ilef{
        text-decoration: none;
        position: absolute;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #495863;
        padding-left: 44px;
        padding-top: 20px;
     }
     .ilef:hover{
        padding-left: 69px;
        color: black;
     }
     
     /* Philosophy */
     .plef{
        text-decoration: none;
        position: absolute;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #495863;
        padding-left: 44px;
        padding-top: 20px;
     }
     .plef:hover{
        padding-left: 69px;
        color: black;
     }
     



             /* Контент */

     /* Рамка */
     .contentborder{
         width: 885px;
         height: 529px;
         border: #35444F 1px solid;
         position: absolute;
         left: 496px;
         top: 300px;
     }
     /* Картинка "ramda" */
     .image-ramda{
         position: absolute;
         left: 793px;
         top: 375px;
         width: 320px;
         height: 381px;
     }

     /* Текст 1 */
     .text1{
         color: black;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 18px;
         position: absolute;
         top: 879px;
         left: 510px;
         text-align: left;
         width: 870px;
     }
     /* Текст 2 */
     .text2{
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        position: absolute;
        top: 1023px;
        left: 510px;
        text-align: left;
        width: 872px
     }



             /* Футер */
             
             .footer{
                 letter-spacing: -1px;
             }
     /* Фон для футера */
     .footerbackground{
         background-color: #B4B7BA;
         position: absolute;
         width: 1280px;
         height: 69px;
         top: 1183px;
         left: 100px;
         
     }
         /* Текст для футера + поведение при наведении */
     /* Ramda */
     .raf{
         position: absolute;
         text-decoration: none;
         color: black;
         font-size: 28px;
         z-index: 2;
         top: 1205px;
         left: 144px;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }
     /* Why Ramda? */
     .wrf{
         position: absolute;
         text-decoration: none;
         color: black;
         font-size: 28px;
         z-index: 2;
         top: 1205px;
         left: 250px;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }
     /* What's Different? */
     .fwd{
         position: absolute;
         text-decoration: none;
         color: black;
         font-size: 28px;
         z-index: 2;
         top: 1205px;
         left: 420px;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }
     /* Introductions */
     .if{
        position: absolute;
        text-decoration: none;
        color: black;
        font-size: 28px;
        z-index: 2;
        top: 1205px;
        left: 640px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }
     /* Philosophy */
     .phf{
        position: absolute;
        text-decoration: none;
        color: black;
        font-size: 28px;
        z-index: 2;
        top: 1205px;
        left: 820px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }
    a.raf:hover{
        color: #3181A6;
        text-decoration: underline;
     }
    a.wrf:hover{
        color: #3181A6;
        text-decoration: underline;
     }
    a.fwd:hover{
        color: #3181A6;
        text-decoration: underline;
     }
    a.if:hover{
        color: #3181A6;
        text-decoration: underline;
     }
    a.phf:hover{
        color: #3181A6;
        text-decoration: underline;
     }


     /* Copyright © 2018 */
     .copy{
        position: absolute;
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 1208px;
        left: 1150px;
        white-space: pre;
        z-index: 2;
     }
